<div class="container cadre" (click)='push(combination.value)'>

  <p>Montant composé de:</p>
  <ul  *ngFor="let value of combination.cards">
    <li >  1 x {{ value }} €</li>
  </ul>
    <p> Total : {{combination.value}} €  </p>
</div>
