<form (ngSubmit)="pushAmount()" [formGroup]="amountForm">
  <div class="mb-3">
    <h3>Montant désiré</h3>
    <div>
      <input
        type="text"
        class="form-control amount"
        formControlName="amount"
        required
      />
    </div>

    <div
      *ngIf="amount.touched && amount.invalid"
      class="form-text error-message"
    >
      <p>Merci de remplir ce champ</p>
    </div>
  </div>

  <input type="submit" class="btn btn-primary" value="Valider" />
</form>

<table class="mat-table">
  <thead>
    <tr>
      <th class="mat-header-cell"></th>
      <td class="mat-cell" *ngIf="equal !== undefined">
        <app-card-display
          [combination]="equal"
          (select)="choice($event)"
        ></app-card-display>
      </td>
    </tr>
  </thead>

  <div class="buttonstodisplay" *ngIf="equal === undefined && cards !==undefined">
    <div>
      <button (click)="nextPlusValue()" >
        Montant suivant
      </button>
    </div>
    <div>
      <button (click)="nextMinusValue()" >
        Montant précédant
      </button>
    </div>
  </div>
</table>
